@import '@styles/app.scss';
@import './styles/projects';

.intro {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  &__wrapper {
    padding: 100px 0;
    margin: auto;
  }

  &__text {
    position: relative;
  }

  &__image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 380px;
  }

  &__button {
    @include fluid-typography(0.7rem, 1.4rem, #{"1rem + 1vw"});
    margin-top: 60px;

    &-icon {
      margin-right: 10px;
    }
  }
}

.is-desktop {
  .intro {
    &__button {
      span {
        transition: transform .2s ease-in-out;
      }

      &:hover {
        span {
          transform: translateX(10px);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .intro {
    &__button {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .intro {
    &__wrapper {
      padding: 60px 0 40px 0;
    }

    &__button {
      margin-top: 25px;

      &-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
