.container-fluid {
  margin: 0 60px;
  max-width: 1920px;
}

.container-md {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1640px;
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1520px;
}

.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    margin: 0 40px;
  }

  .container-md,
  .container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .container-fluid {
    margin: 0 15px;
  }

  .container-md,
  .container {
    padding: 0 15px;
  }
}

