/**
 * Variables
*/

/* Typography */
$font-family-main: 'Poppins', helvetica, sans-serif;
// Heading Fonts Sizes
$h1-font-size: 7.6rem;
$h2-font-size: 5.11rem;
$h3-font-size: 3.38rem;
$h4-font-size: 2.27rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1rem;
// Heading Line Heights
$h1-line-height: 1.13;
$h2-line-height: 1.10;
$h3-line-height: 1.2;
$h4-line-height: 1.4;
$h5-line-height: 1.6;
$h6-line-height: 1.6;

/* Breakpoints */

/* Paths */

/* Grid setup */

/* Colour palette */
$black: #000;
$white: #fff;

$primary: #7EFA18;

/* Timing */
$standart-timing: cubic-bezier(.785, .135, .15, .86);
